---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} /> 
		<title>Law firm website</title>
	</head>
	<body>
		<h1>Law firm website, initial content</h1>
	</body>
	<style>
		h1 {
			background-color:gray;
			color:orange;
		}
	</style>
</html>
